<%- include('layouts/header.ejs') %>

	<body>
		<style>
			.primary-btn.order-submit {
				width: 420px;
				padding: 10px;
				font-size: 16px;
			}
		</style>
		<header>
			<%- include('layouts/topHeader.ejs')%>
				<%- include('layouts/mainHeader.ejs')%>
		</header>

		<%- include('layouts/navigation.ejs')%>
			<div id="breadcrumb" class="section">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 class="breadcrumb-header">
								<%= __("Checkout") %>
							</h3>
							<ul class="breadcrumb-tree">
								<li><a href="#">
										<%= __("Home") %>
									</a></li>
								<li class="active">
									<%= __("Checkout") %>
								</li>
							</ul>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /BREADCRUMB -->
			<!-- SECTION -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">

						<div class="col-md-7">
							<!-- Billing Details -->
							<div class="billing-details">
								<div class="section-title">
									<h3 class="title">
										<%= __("Billingaddress") %>
									</h3>
								</div>
								<!-- FORM ẨN -->

								<form id="paymentForm" action="/api/v1/orders/create-order" method="POST">
									<input type="hidden" name="totalPrice" value="<%= totalPrice %>">
									<input type="hidden" name="user_id" value="<%= user_id %>">
									<input type="hidden" name="userName" value="<%= userName %>">
									<input type="hidden" name="token" value="<%= token %>">
									<!-- Thêm các input hidden cho thông tin địa chỉ -->
									<div class="form-group">
										<input class="input" type="text" name="district" placeholder="
										<%= __(" Address1") %>">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="city" placeholder="
										<%= __(" City") %>">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="country" placeholder="
										<%= __(" Country")%>">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="zip" placeholder="
										<%= __(" ZIPCode") %>">
									</div>
									<div class="form-group">
										<input class="input" type="tel" name="phone" placeholder="
										<%= __(" Telephone")%>">
									</div>
								</form>




								<!-- FORM ẨN -->

								<div class="form-group">
									<div class="input-checkbox">
										<input type="checkbox" id="create-account">
										<label for="create-account">
											<span></span>
											<%= __("CreateAccount?") %>
										</label>
										<div class="caption">
											<p>
												<%= __("welcome") %>
											</p>
											<input class="input" type="password" name="password" placeholder="
											<%= __(" Enter") %>">
										</div>
									</div>
								</div>
							</div>
							<!-- /Billing Details -->

							<!-- Shiping Details -->
							<div class="shiping-details">
								<div class="section-title">
									<h3 class="title">
										<%= __("Shipingaddress?") %>
									</h3>
								</div>
							</div>
						</div>
						<!-- Order Details -->
						<div class="col-md-5 order-details">
							<div class="section-title text-center">
								<h3 class="title">
									<%= __("YourOrder?") %>
								</h3>
							</div>
							<div class="order-summary">
								<div class="order-col">
									<div><strong>
											<%= __("PRODUCT") %>
										</strong></div>
									<div><strong>
											<%= __("TOTAL") %>
										</strong></div>
								</div>
								<% quantities.forEach((quantity, index)=> { %>
									<div class="order-products">
										<div class="order-col">
											<!-- IN CẢ 3 GIA TRỊ ĐÒNG THỜI -->
											<div>
												<%= quantity %>x <%= productNames[index] %>
											</div>
											<div>
												<%= prices[index] * quantity %>
											</div>
										</div>
									</div>
									<% }) %>
										<div class="order-col">
											<div>
												<%= __("Shiping") %>
											</div>
											<div><strong>
													<%= __("FREE") %>
												</strong></div>
										</div>
										<div class="order-col">
											<div><strong>
													<%= __("TOTAL") %>
												</strong></div>
											<div><strong class="order-total">
													<%= totalPrice%> VND
												</strong></div>
										</div>
										<div class="order-col">
										</div>
							</div>

							<button type="button" onclick="call2API()" class="primary-btn order-submit">
								<%= __("dathang") %>
							</button>

						</div>
						<!-- /Order Details -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->


			<script>
				async function call2API() {
					const userName = document.querySelector('input[name="userName"]').value;
					const user_id = document.querySelector('input[name="user_id"]').value;
					// const token = document.querySelector('input[name="token"]').value;
					document.getElementById('paymentForm').submit();

					await fetch('/api/v1/orders/send-noti', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json',
							},
							body: JSON.stringify({
								title: 'Electronic Shop',
								content: `${userName} đã đặt hàng thành công!`,
							}),
						})
				}
			</script>

			<%- include('layouts/newLetter.ejs') %>

				<%- include('layouts/footer.ejs') %>